*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

.container-full{
    max-width:1300px;
    margin: auto;
}
/*Layout Header*/
.container-h{
    width: 100%;
    margin: 0 auto;
    
}
.row-h{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.col-50A{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
  
    
}
.col-50B{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: flex-end;
    
}

/*Layout main*/
.container-m{
    max-width: 1500px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.col-20{
    width: 20%;
    
}
.col-30{
    width:40%;
    position: relative;
    top: 20px;
    
    

}

.col-30 img{
    width: 100%;
    
    

}

.col-33{
    border: 1px solid grey;
    height: 800px; 
    margin: 20px 20px; 
    width: calc(100% / 3-20px);
    border-radius: 1%;
    padding: 10px 10px;

}
.col-100{   
    width: 100%;
}
.row-m{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    
}

/*content haeder*/
.logo-h{
 margin-right: 10px;
}

.menu-a ul{
    list-style: none;
    text-align: right;
}
.menu-a li{
    display: inline-block;
    margin: 5px 5px;
}


.menu-b ul{
    list-style: none;
    text-align: right;
}
.menu-b li{
    display: inline-block;
    margin: 5px 5px;
}
.list-h span{
    margin-left: 5px;
    padding: 5px 5px;
    background-color:#0061FF;
    color: white;
}



/*content Main*/

.content-col-20{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px;
}

.content-col-20 a{
    text-decoration: none;
    color: white;
}
.content-col-20-link{
    background-color:#0061FF;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    padding: 5px 5px;
    margin-top: 30px;
}

.content-col-20 i{
 margin-top: 20px;
 font-size: 50px;
}
.business-plan{
    padding: 10px 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.subscrition-cost{
    padding: 10px 10px;
}

.subscrition-cost h4{
    font-size: 30px;
}

.subscrition-cost ul{
    list-style: none;
    text-align: left;
}
.subscrition-cost li{
    margin: 10px 5px;
}

.subscrition-detayls{
    display: flex;
}

.subscrition-detayls div{
    max-width: 220px;
    margin: 5px 10px;
}


.subscrition-point h5{
margin-bottom: 20px;
padding: 10px 10px;
}

.subscrition-point ul{
    list-style: none;
    text-align: left;
}
.subscrition-point li{
    margin: 5px 5px;
    padding: 10px 10px;

}
.subscrition-point span{
    color: #0061FF;
    font-size: 20px;
}
.buy{
    padding: 10px 10px;
}
.buy button{
    padding: 5px 5px;
    margin: 10px 5px;
    background-color: #0061FF ;
    color: white;
}
.buy p{
    margin: 10px 5px;

}

.buy hr{
    color: grey;
    width: 30px;
    margin: 30px 5px;
}
/*Style main*/
.bg-celeste{
    background-color: #A1C9F7;
}
.col-100 p{
    text-align: left;
    font-size: 12px;
    margin-left: 250px;
    
}
.col-100 span{
    margin: 5px;
}
.col-100 h2{
    margin: 30px 0 30px 250px;
    font-size: 25px;
    
}
.col-100 h1{
   margin: 50px 0 50px 250px;
}