*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.container-full{
    width: 100%;
    margin: auto;
}
/*Layout Header*/
.container-h{
    width: 100%;
    margin: auto;
    
}
.row-h{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.col-50{
    width: calc(100% / 2);
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    
}
/*Layout main*/
.container-m{
    width: 100%;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-20{
    border: 1px dashed white;
    width: 20%;
    height: 100px;
}
.col-30{
    border: 1px dashed white;
    width: 30%;
    height: 100px;
}

.col-33{
    border: 1px dashed black; 
    height: 800px; 
    margin: 20px 20px; 
    width: calc(100% / 3-20px);

}
.col-100{
    border: 1px dashed black; 
    height: 100px;  
    margin-top: 20px;
}
.row-m{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px;
}

/*content haeder*/
.logo-h{
    border: 1px dashed black;
    margin-right: 10px;
}
.menu-h{
    border: 1px dashed black;
    
}
.menu-h ul{
    list-style: none;
    text-align: right;
}
.menu-h li{
    display: inline-block;
    margin: 5px 5px;
}
.menu-b{
    border: 1px dashed black;
    position: absolute;
    right: 5px;
}
.menu-b ul{
    list-style: none;
    text-align: right;
}
.menu-b li{
    display: inline-block;
    margin: 5px 5px;
}
.list-h span{
    border: 1px solid black;
    margin-left: 5px;
    padding: 5px 5px;
    background-color:#0061FF;
    color: white;
}

/*content Main*/
.business-plan{
    padding: 10px 10px;
    border: 1px solid grey;
    text-align: center;
}

.subscrition-cost{
    padding: 10px 10px;
}
.subscrition-cost ul{
    list-style: none;
    text-align: left;
}
.subscrition-cost li{
    margin: 10px 5px;
}


.subscrition-detayls ul{
    list-style: none;
    text-align: left;
}
.subscrition-detayls li{
    margin: 5px 5px;
    padding: 10px 10px;
}


.subscrition-point h5{
margin-bottom: 20px;
padding: 10px 10px;
}

.subscrition-point ul{
    list-style: none;
    text-align: left;
}
.subscrition-point li{
    margin: 5px 5px;
}
.subscrition-point span{
    color: #0061FF;
    font-size: 20px;
}
.buy{
    padding: 10px 10px;
}
.buy button{
    padding: 5px 5px;
    margin: 10px 5px;
    background-color: #0061FF ;
    color: white;
}
.buy p{
    margin: 10px 5px;

}

.buy hr{
    color: grey;
    width: 30px;
    margin: 30px 5px;
}
/*Style main*/
.bg-celeste{
    background-color: #A1C9F7;
}
.col-100 p{
    text-align: left;
    font-size: 12px;
    
}
.col-100 span{
    margin: 5px;
}
.col-100 h2{
    margin-bottom: 30px;
}